* text=auto

*.cpp text eol=crlf
*.h text eol=crlf
*.cs text eol=crlf
*.razor text eol=crlf
*.js text eol=crlf
*.css text eol=crlf
*.json text eol=crlf
*.md text eol=crlf
*.py text eol=lf
*.sh text eol=lf

*.uasset binary
*.umap binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
